*.pdb

# Ignore QEMU executables and related files
qemu-*
qemu.exe
qemu-system-*
qemu-img*
*.dll
*.so
*.dylib
*.qcow2
*.vmdk
*.vhd
*.vdi
*.img
*.iso
*.bin
*.elf
*.rom
*.log

# Ignore QEMU folders if present
/qemu/
/QEMU/
/Qemu/

# Do not ignore your own QEMU-related source code
!**/Qemu*.cs
!**/QEMU*.cs
!**/Qemu*.h
!**/QEMU*.h
!**/Qemu*.cpp
!**/QEMU*.cpp
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/network-transmit.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/network-vpn.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/network-wireless.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/non-starred.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/object-flip-horizontal.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/object-flip-vertical.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/object-rotate-left.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/object-rotate-right.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/pda.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/phone.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/preferences-desktop-accessibility.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/preferences-desktop-display.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/preferences-desktop-font.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/preferences-desktop-keyboard-shortcuts.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/preferences-desktop-keyboard.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/preferences-desktop-locale.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/preferences-desktop-peripherals.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/preferences-desktop-personal.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/preferences-desktop-remote-desktop.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/preferences-desktop-screensaver.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/preferences-desktop-theme.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/preferences-desktop-wallpaper.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/preferences-desktop.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/preferences-other.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/preferences-system-network.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/preferences-system-notifications.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/preferences-system-privacy.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/preferences-system-search.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/preferences-system-sharing.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/preferences-system-windows.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/preferences-system.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/printer-error.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/printer-printing.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/process-stop.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/scanner.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/security-high.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/security-low.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/security-medium.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/semi-starred-rtl.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/semi-starred.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/software-update-available.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/software-update-urgent.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/starred.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/system-file-manager.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/system-help.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/system-lock-screen.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/system-log-out.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/system-run.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/system-search.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/system-shutdown.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/system-software-install.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/system-software-update.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/system-users.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/task-due.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/task-past-due.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/tools-check-spelling.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/trophy-bronze.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/trophy-gold.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/trophy-silver.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/uninterruptible-power-supply.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/user-available.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/user-away.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/user-busy.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/user-idle.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/user-info.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/user-invisible.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/user-offline.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/utilities-terminal.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/video-display.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/view-fullscreen.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/view-refresh.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/view-restore.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/view-sort-ascending.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/view-sort-descending.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/web-browser.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/window-close.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/window-new.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/zoom-fit-best.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/zoom-in.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/zoom-original.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/legacy/zoom-out.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/.placeholder
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/application-certificate.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/application-x-addon.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/application-x-executable.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/application-x-firmware.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/application-x-generic.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/application-x-sharedlib.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/audio-x-generic.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/font-x-generic.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/image-x-generic.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/inode-directory.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/package-x-generic.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/text-html.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/text-x-generic-template.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/text-x-generic.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/text-x-preview.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/text-x-script.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/video-x-generic.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/x-office-address-book.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/x-office-calendar.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/x-office-document-template.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/x-office-document.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/x-office-drawing-template.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/x-office-drawing.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/x-office-presentation-template.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/x-office-presentation.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/x-office-spreadsheet-template.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/x-office-spreadsheet.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/mimetypes/x-package-repository.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/places/.placeholder
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/places/folder-documents.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/places/folder-download.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/places/folder-drag-accept.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/places/folder-music.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/places/folder-open.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/places/folder-pictures.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/places/folder-publicshare.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/places/folder-remote.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/places/folder-saved-search.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/places/folder-templates.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/places/folder-videos.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/places/folder.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/places/network-server.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/places/network-workgroup.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/places/start-here.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/places/user-bookmarks.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/places/user-desktop.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/places/user-home.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/places/user-trash.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/status/.placeholder
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/status/avatar-default.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/status/image-loading.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/status/image-missing.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/status/user-trash-full.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/ui/.empty
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/48x48/ui/.placeholder
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/8x8/emblems/emblem-readonly.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/8x8/emblems/emblem-shared.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/8x8/emblems/emblem-symbolic-link.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/8x8/emblems/emblem-synchronizing.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/8x8/emblems/emblem-unreadable.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/8x8/legacy/emblem-default.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/8x8/legacy/emblem-new.png
bin/Release/net6.0-windows/share/icons/AdwaitaLegacy/8x8/legacy/emblem-synchronizing.png
bin/Release/net6.0-windows/share/icons/hicolor/128x128/apps/qemu.png
bin/Release/net6.0-windows/share/icons/hicolor/16x16/apps/gtk3-demo-symbolic.symbolic.png
bin/Release/net6.0-windows/share/icons/hicolor/16x16/apps/gtk3-demo.png
bin/Release/net6.0-windows/share/icons/hicolor/16x16/apps/gtk3-widget-factory-symbolic.symbolic.png
bin/Release/net6.0-windows/share/icons/hicolor/16x16/apps/gtk3-widget-factory.png
bin/Release/net6.0-windows/share/icons/hicolor/16x16/apps/qemu.png
bin/Release/net6.0-windows/share/icons/hicolor/22x22/apps/gtk3-demo-symbolic.symbolic.png
bin/Release/net6.0-windows/share/icons/hicolor/22x22/apps/gtk3-demo.png
bin/Release/net6.0-windows/share/icons/hicolor/22x22/apps/gtk3-widget-factory-symbolic.symbolic.png
bin/Release/net6.0-windows/share/icons/hicolor/22x22/apps/gtk3-widget-factory.png
bin/Release/net6.0-windows/share/icons/hicolor/24x24/apps/gtk3-demo-symbolic.symbolic.png
bin/Release/net6.0-windows/share/icons/hicolor/24x24/apps/gtk3-demo.png
bin/Release/net6.0-windows/share/icons/hicolor/24x24/apps/gtk3-widget-factory-symbolic.symbolic.png
bin/Release/net6.0-windows/share/icons/hicolor/24x24/apps/gtk3-widget-factory.png
bin/Release/net6.0-windows/share/icons/hicolor/24x24/apps/qemu.png
bin/Release/net6.0-windows/share/icons/hicolor/256x256/apps/gtk3-demo-symbolic.symbolic.png
bin/Release/net6.0-windows/share/icons/hicolor/256x256/apps/gtk3-demo.png
bin/Release/net6.0-windows/share/icons/hicolor/256x256/apps/gtk3-widget-factory-symbolic.symbolic.png
bin/Release/net6.0-windows/share/icons/hicolor/256x256/apps/gtk3-widget-factory.png
bin/Release/net6.0-windows/share/icons/hicolor/256x256/apps/qemu.png
bin/Release/net6.0-windows/share/icons/hicolor/32x32/apps/gtk3-demo-symbolic.symbolic.png
bin/Release/net6.0-windows/share/icons/hicolor/32x32/apps/gtk3-demo.png
bin/Release/net6.0-windows/share/icons/hicolor/32x32/apps/gtk3-widget-factory-symbolic.symbolic.png
bin/Release/net6.0-windows/share/icons/hicolor/32x32/apps/gtk3-widget-factory.png
bin/Release/net6.0-windows/share/icons/hicolor/32x32/apps/qemu.bmp
bin/Release/net6.0-windows/share/icons/hicolor/32x32/apps/qemu.png
bin/Release/net6.0-windows/share/icons/hicolor/48x48/apps/gtk3-demo-symbolic.symbolic.png
bin/Release/net6.0-windows/share/icons/hicolor/48x48/apps/gtk3-demo.png
bin/Release/net6.0-windows/share/icons/hicolor/48x48/apps/gtk3-widget-factory-symbolic.symbolic.png
bin/Release/net6.0-windows/share/icons/hicolor/48x48/apps/gtk3-widget-factory.png
bin/Release/net6.0-windows/share/icons/hicolor/48x48/apps/qemu.png
bin/Release/net6.0-windows/share/icons/hicolor/512x512/apps/qemu.png
bin/Release/net6.0-windows/share/icons/hicolor/64x64/apps/qemu.png
bin/Release/net6.0-windows/share/icons/hicolor/icon-theme.cache
bin/Release/net6.0-windows/share/icons/hicolor/index.theme
bin/Release/net6.0-windows/share/icons/hicolor/scalable/apps/qemu.svg
bin/Release/net6.0-windows/share/keymaps/ar
bin/Release/net6.0-windows/share/keymaps/bepo
bin/Release/net6.0-windows/share/keymaps/cz
bin/Release/net6.0-windows/share/keymaps/da
bin/Release/net6.0-windows/share/keymaps/de
bin/Release/net6.0-windows/share/keymaps/de-ch
bin/Release/net6.0-windows/share/keymaps/en-gb
bin/Release/net6.0-windows/share/keymaps/en-us
bin/Release/net6.0-windows/share/keymaps/es
bin/Release/net6.0-windows/share/keymaps/et
bin/Release/net6.0-windows/share/keymaps/fi
bin/Release/net6.0-windows/share/keymaps/fo
bin/Release/net6.0-windows/share/keymaps/fr
bin/Release/net6.0-windows/share/keymaps/fr-be
bin/Release/net6.0-windows/share/keymaps/fr-ca
bin/Release/net6.0-windows/share/keymaps/fr-ch
bin/Release/net6.0-windows/share/keymaps/hr
bin/Release/net6.0-windows/share/keymaps/hu
bin/Release/net6.0-windows/share/keymaps/is
bin/Release/net6.0-windows/share/keymaps/it
bin/Release/net6.0-windows/share/keymaps/ja
bin/Release/net6.0-windows/share/keymaps/lt
bin/Release/net6.0-windows/share/keymaps/lv
bin/Release/net6.0-windows/share/keymaps/mk
bin/Release/net6.0-windows/share/keymaps/nl
bin/Release/net6.0-windows/share/keymaps/no
bin/Release/net6.0-windows/share/keymaps/pl
bin/Release/net6.0-windows/share/keymaps/pt
bin/Release/net6.0-windows/share/keymaps/pt-br
bin/Release/net6.0-windows/share/keymaps/ru
bin/Release/net6.0-windows/share/keymaps/sl
bin/Release/net6.0-windows/share/keymaps/sv
bin/Release/net6.0-windows/share/keymaps/th
bin/Release/net6.0-windows/share/keymaps/tr
bin/Release/net6.0-windows/share/locale/bg/LC_MESSAGES/qemu.mo
bin/Release/net6.0-windows/share/locale/de_DE/LC_MESSAGES/qemu.mo
bin/Release/net6.0-windows/share/locale/fr_FR/LC_MESSAGES/qemu.mo
bin/Release/net6.0-windows/share/locale/hu/LC_MESSAGES/qemu.mo
bin/Release/net6.0-windows/share/locale/it/LC_MESSAGES/qemu.mo
bin/Release/net6.0-windows/share/locale/sv/LC_MESSAGES/qemu.mo
bin/Release/net6.0-windows/share/locale/tr/LC_MESSAGES/qemu.mo
bin/Release/net6.0-windows/share/locale/uk/LC_MESSAGES/qemu.mo
bin/Release/net6.0-windows/share/locale/zh_CN/LC_MESSAGES/qemu.mo
bin/Release/net6.0-windows/share/man/man1/qemu.1

/Data
Directv and DVR Workspace..code-workspace
/bin
*.cache
*.resources
/obj
*.cache
/obj
/obj/Release/net6.0-windows
